{% extends "base.html" %}
{#{% import "_macros.html" as macros %}#}

{% block title %}Jblue - Post{% endblock %}

{% block page_content %}
<div class="container">
    <div class="blog-header">
        <h2 class="blof-post-title">
            {{ post.title }}
        </h2>

    </div>
    <div class="post-content">
       <div class="post-body">
           {% if post.body_html %}
               {{ post.body_html | safe }}
           {% else %}
               {{ post.body }}
           {% endif %}
       </div>
</div>
{% endblock %}
